.farm-time {
  display: flex;
  flex-direction: column;
  height: 100%;
  .menu {
    height: 25%;
    padding: 20px 20px 0 20px;
  }
  .detail {
    height: 75%;
    padding: 10px 20px 0 20px;
  }
  .chart {
    height: 100%;
  }
}

.farmtime-menu{
  .ant-menu-overflow{
    display: flex;
    // width: 50%;
    // min-width: 200px;
  }
}