@import "../index.scss";
.time-button-com {
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: $content-title;
  font-weight: bold;
  // text-align: center;
  padding: 10px;
  &:hover {
    border: 1px solid $content-title;
  }
}
.time-btn-highlight {
  border: 1px solid $content-title;
}
